<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Jangan proses file atau folder yang beneran ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    php_value session.gc_maxlifetime 3600
    php_value session.cookie_lifetime 3600
    
    # Arahkan sisanya ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>